<aside>
    <img src="/logo.webp" alt="logo" id="logo-img" />
    <div id="categories-container">
        @for (category of categories; track category) {
            <app-category-item [category]="category" [selected]="category === selectedCategory" (click)="switchCategory(category)"></app-category-item>
        }
    </div>
</aside>

<main>
    <h2>Nos Burgers</h2>
    <div id="items-container">
        @for (item of items; track item) {
            <app-item [item]="item" (click)="openItemDetails(item)"></app-item>
        }
    </div>
</main>

<footer>
    <fa-icon [icon]="ICONS['cart']" class="icon"></fa-icon>
    <span>{{ order.quantity }} éléments</span>
    <span>{{ order.amount }} €</span>
    <button class="button-primary">Valider</button>
</footer>