:host {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: 1fr 10vh / 22vw 1fr;
}


#left {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#logo-img {
    width: auto;
    height: 18vh;
}

#categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#right {
    text-align: center;
}

#items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    border-left: black 1px solid;
    gap: 16px;
    padding: 10px;
    height: 100%;
}


footer {
    grid-column: 1 / -1;

    background-color: var(--secondary-color);
    border-top: black 1px solid;

    box-shadow: var(--base-shadow);
    color: var(--primary-color);

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 4vmin;
    gap: 4vmin;
}