main {
    display: grid;
    grid-template: 1fr 5vh / 30vw 1fr;
    height: 98vh;
}

#left {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    gap: 16px;
}

#right {
    background-color: yellow;
    text-align: center;
}


#items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 10px;
}

footer {
    grid-column: 1 / -1;
    background-color: blue;
}