:host {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: 1fr 10vh / 30vw 1fr;
}


#left {
    background-color: var(--secondary-color);
    box-shadow: var(--base-shadow);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}


#right {
    background-color: #f5f5f5;
    text-align: center;
}

#items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 10px;
}


footer {
    grid-column: 1 / -1;

    background-color: var(--secondary-color);
    box-shadow: var(--base-shadow);
    color: var(--primary-color);

    display: flex;
    justify-content: end;
    align-items: center;
    padding: 4vmin;
    gap: 4vmin;
}