.group-command-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.logo {
    margin-top: 5rem;
    width: 500px;
    height: auto;
}

#input-group-command-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vw;
    margin-bottom: 3vh;
}

#input-order-id {
    display: flex;
    align-items: center;
    gap: 3vw;
    font-size: 2.5rem;
    font-weight: bold;
}

#counter {
    display: flex;
    align-items: center;
    gap: 3vw;
    font-size: 2.5rem;
    font-weight: bold;
}


/* Wrapper clavier */
.simple-keyboard-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 9999;
    display: none;
    flex-direction: column;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.simple-keyboard-wrapper.active {
    display: flex;
}

.keyboard-close {
    align-self: flex-start;
    background: #f0f0f0;
    border: none;
    font-size: 2.5rem;
    padding: 5px 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.input {
    width: 15vw;
    height: 5vh;
    font-size: 1.8rem;
    text-align: right;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.simple-keyboard {
    width: 100%;
    margin-top: 5px;
}