.card {
  min-height: 150px;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;

  &.has-modifications {
    min-height: 170px;
  }

  img {
    height: 150px;
    min-height: 150px;
    aspect-ratio: 1;
    object-fit: cover;
    align-self: flex-start;
  }

  .information {
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    .content {
      .title {
        font-weight: 700;
        font-size: 2.5rem;
      }

      .modifications {
        display: block;
        font-size: 1.6rem;
        font-style: italic;
        margin-top: 0.3rem;

        &.removed {
          color: rgb(255, 140, 0);
        }

        &.added {
          color: rgb(30, 144, 255);
        }
      }

      .sub-information {
        font-size: 2rem;
        color: rgb(172, 172, 172);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .actions {
          display: flex;
          gap: 1rem;
          align-items: center;

          fa-icon {
            cursor: pointer;
            transition: color 0.2s ease;

            &:hover {
              color: rgb(100, 100, 100);
            }
          }

          .edit-icon {
            color: rgb(100, 149, 237);

            &:hover {
              color: rgb(65, 105, 225);
            }
          }
        }
      }
    }

    .price {
      align-self: center;
      font-weight: 700;
    }
  }
}
