.payment-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}

.logo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 250px;
  height: auto;
}
