.payment-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}

.payment-content{
  width: 100%;
  margin-top:350px;
}

.logo {
  position: absolute;
  top: 0;
  left: 20px;
  width: 250px;
  height: auto;
}

.group-info {
  position: absolute;
  top: 7%;
  right: 10%;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.group-block {
  background: var(--primary-color);
  padding: 0.5rem 0.9rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.15rem 0.4rem rgba(0, 0, 0, 0.08);
  min-width: 6.5rem;
  text-align: left;
  font-size: 2rem;
  color: white;
}

.block-info {
  margin-top: 0.15rem;
}
