.payment-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f5f5f5;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: auto;
}