.progress {
  display: flex;
  width: 100%;
  height: 0.75rem;
  border-radius: 0.5rem;
  gap: 1rem;
}

.progress-container {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  border-radius: 0.5rem;
  position: relative;
}

.progress-bar {
  background-color: rgb(0, 209, 0);
  border-radius: 0.5rem;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.percentage {
  background-color: rgba(106, 106, 106, 0.511);
  top: 1rem;
  font-size: 1rem;
  color: white;
  height: 3rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  border-radius: 10px;
  transition: left 0.4s ease-in-out;
}
