.steps{
    display: flex;
    width: 100%;
    height: 0.75rem;
    border-radius: 0.5rem;
    overflow: hidden;
    gap: 1rem;
}

.step-container{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    border-radius: 0.5rem;
    overflow: hidden;
}

.step{
    height: 100%;
    width: 100%;
}

.active{
    background-color: rgb(0, 209, 0);
    border-radius: 0.5rem;
    animation: fill 1s infinite;
}

@keyframes fill {
    from { width: 0; }
    to { width: 100%; }
}