.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 8px;
  width: 80%;
  max-width: 700px;
  position: relative;

  .close-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    background: rgb(255, 0, 0);
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    z-index: 1001;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    fa-icon {
      font-size: 2rem;
    }
  }
}
