<app-payment-layout>
  <div class="bill-container">
    <app-error-banner [(visible)]="showError" [message]="
        mode === 'euro'
          ? 'The total must be equal to the total of the order (' +
            totalOrder +
            '€)'
          : 'Every items must be selected'
      ">
    </app-error-banner>

    <h2>Split bill</h2>

    <div class="page-wrapper" [class.dimmed]="showError">
      <!-- Number of persons -->
      <div class="persons">
        <label>Number of people</label>
        <div class="counter">
          <app-counter [value]="numberOfPersons" [min]="1" (valueChange)="onNumberOfPersonsChanged($event)">
          </app-counter>
        </div>
      </div>
      <div id="payment-group" *ngIf="this.groupId != -1">
        <label>Group owner</label>
        <input type="checkbox" [checked]="isOwner" (change)="setOwnerPay()" />
      </div>

      <div class="card mode-box" *ngIf="persons.length > 1">
        <!-- Mode selection tabs -->
        <div class="tabs">
          <button class="tab" [class.active]="mode === 'euro'" (click)="onModeChange('euro')">
            Euro
          </button>
          <button class="tab" [class.active]="mode === 'items'" (click)="onModeChange('items')">
            By item
          </button>
        </div>

        <!-- EURO mode -->
        <ng-container *ngIf="mode === 'euro' && persons.length >= 2">
          <div class="person-row" *ngFor="let p of persons; let i = index">
            <input type="text" class="input" [value]="formatAmount(p.amount)" (focus)="onInputFocus(i, p.amount)"
              readonly />

            <span class="person">{{ p.name }}</span>
          </div>

          <div class="totalOrder">
            <span>Total : </span>
            <strong>{{ formatAmount(currentTotal) }}€</strong>
          </div>
        </ng-container>

        <!-- ITEMS mode -->
        <ng-container *ngIf="mode === 'items' && persons.length >= 2">
          <div class="items-grid" [ngStyle]="{ '--person-count': persons.length }">
            <!-- Person number row -->
            <div class="grid-header">Person</div>
            <div class="grid-header"></div>
            <div class="grid-header" *ngFor="let p of persons; let j = index">
              {{ j + 1 }}
            </div>

            <!-- Item rows -->
            <ng-container *ngFor="let item of items; let i = index">
              <img [src]="item.basketItems.image" alt="{{ item.basketItems.fullName }}" class="grid-image" />
              <div class="grid-price">{{ item.basketItems.price }}€</div>
              <div class="grid-checkbox" *ngFor="let p of persons; let j = index">
                <input type="checkbox" [checked]="item.selected.includes(j)" (change)="toggleItemSelection(i, j)" />
              </div>
            </ng-container>


          </div>
          <ng-container>
            <div *ngIf="persons.length > 1">
              <div class="person-row" *ngFor="let p of persons; let i = index">
                <strong>
                  {{
                  p.amount % 1 === 0
                  ? p.amount
                  : (p.amount | number:'1.0-2')
                  }}€
                </strong>
                <span class="person">{{ p.name }}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>

      <div class="total">
        <span>Total amount : </span>
        <strong>{{ totalOrder }}€</strong>
      </div>

      <!-- Pay button -->
      <div class="pay-box">
        <button class="button-primary pay-button" (click)="validateForm()">
          Pay
        </button>
      </div>
    </div>
  </div>

  <div id="keyboardContainer" class="simple-keyboard-wrapper" [class.active]="keyboardVisible">
    <button class="keyboard-close" (click)="hideKeyboard()">Close keyboard</button>
    <div class="simple-keyboard"></div>
  </div>


</app-payment-layout>