.category-item-card {
  width: 100%;
  aspect-ratio: 1;

  text-align: center;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2vmin;
  gap: 1vmin;
}

.selected {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.category-item-img {
  width: 100%;
  height: 7.5vh;

  object-fit: cover;
  border-radius: var(--border-radius);
}

.category-item-title {
  font-size: x-large;
}
