.category-item-card {
    border: 1px solid #ddd;
    background-color: #d0d2d074;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    width: 15vw;
}

.category-item-img {
    width: 100%;
    border-radius: 6px;
}

.category-item-title {
    font-weight: bold;
    margin: 8px 0 4px;
}