.btn {
  border: none;
  border-radius: 0.8vh;
  padding: 1vh 2vw;
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
  margin: 0 2vw;
}

.btn.minus {
  background: var(--primary-color);
  color: white;
}

.btn.plus {
  background: #4caf50;
  color: white;
}

.counter .count {
  display: inline-block;
  min-width: 4ch;
  text-align: center;
  font-size: 2.5vh;
  font-weight: bold;
}
