.btn {
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
}

.btn.minus {
  background: #f44336;
  color: white;
}

.btn.plus {
  background: #4caf50;
  color: white;
}