
.button-primary {
  font-size: 2.5vh;
  font-weight: bold;
  margin: 0 2vw;
  background: white;
  color: white;
}

.button-primary.minus {
  background: var(--primary-color);
  color: white;
}

.button-primary.plus {
  background: #4caf50;
  color: white;
}

.counter .count {
  display: inline-block;
  min-width: 4ch;
  text-align: center;
  font-size: 2.5vh;
  font-weight: bold;
}
