.error-banner {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 2.8rem;
  margin: 8px 0;
  position: relative;
}

.warning {
  width: 70px;
  height: 70px;
  margin-right: 2%;
}

.message {
  flex: 1;
  font-weight: 600;
  text-align: left;
  text-align: center;
  line-height: 1.3;
}

.close-btn {
  background: transparent;
  border: none;
  color: var(--secondary-color);
  font-size: 2.6rem;
  cursor: pointer;
}
