.item-image {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

h2 {
  text-align: left;
  margin: 5px 0;
  font-size: 1.7em;
  font-weight: bold;
}

.ingredients-section {
  margin: 10px 0;

  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      .ingredient-name {
        font-size: 1.4em;
        margin-left: 20px;
      }

      .quantity-control {
        display: flex;
        align-items: center;

        .remove-btn,
        .add-btn {
          color: white;
          border: none;
          border-radius: 4px;
          width: 35px;
          height: 35px;
          cursor: pointer;
          font-size: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .remove-btn {
          background-color: #c6230b;
        }

        .add-btn {
          background-color: #00982b;
        }

        .quantity {
          margin: 0 15px;
          font-size: 1.5em;
        }
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 10px;

  .delete-btn {
    background-color: transparent;
    color: #c6230b;
    border: 2px solid #c6230b;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-to-cart-btn {
    background-color: #00982b;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
}
