.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 3em;
    color: black;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    z-index: 1;
  }

  .item-image {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }

  h2 {
    text-align: left;
    margin: 5px 0;
    font-size: 1.7em;
    font-weight: bold;
  }

  .ingredients-section {
    margin: 10px 0;

    h3 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        .ingredient-name {
          font-size: 1.4em;
          margin-left: 20px;
        }

        .quantity-control {
          display: flex;
          align-items: center;

          .remove-btn, .add-btn {
            color: white;
            border: none;
            border-radius: 4px;
            width: 35px;
            height: 35px;
            cursor: pointer;
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .remove-btn {
            background-color: #C6230B;
          }

          .add-btn {
            background-color: #00982B;
          }

          .quantity {
            margin: 0 15px;
            font-size: 1.5em;
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

    .delete-btn {
      background-color: #C6230B;
      color: white;
      border: none;
      border-radius: 4px;
      width: 45px;
      height: 45px;
      cursor: pointer;
      font-size: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .add-to-cart-btn {
      background-color: #00982B;
      color: white;
      padding: 15px 25px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
}
