.item-card {
    border: 1px solid #ddd;
    background-color: #d0d2d074;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    width: 15vw;
}

.item-img {
    width: 100%;
    border-radius: 6px;
}

.item-title {
    font-weight: bold;
    margin: 8px 0 4px;
}

.item-price {
    color: #28a745;
    font-size: 1.1em;
}