.item-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 23vw;
    align-items: center;
}

.item-img {
    width: 23vw;
    height: 10vh;
}

.item-title {
    font-size: x-large;
    margin: 10px auto;
    color: black;
}

.item-price {
    color: white;
    background-color: black;
    width: fit-content;
    padding: 4px 20px;
    border-radius: 5px;
    font-size: x-large;
    margin: 4px auto;

}