.item-card {
  width: 100%;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2vmin;
  gap: 1vmin;
}

.item-img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.item-title {
  font-size: x-large;
  color: black;
}

.item-price {
  width: fit-content;
  min-width: 5rem;

  color: white;
  background-color: black;
  border-radius: var(--border-radius);
  font-size: x-large;
  padding: 0.5rem 1rem;
}
