@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
    --primary-color: #C6230B;
    --secondary-color: #FFFFFF;
    --base-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background-color: var(--secondary-color);
    color: #333;
}


.on-click {
    transition: transform 0.3s ease;
    transform: scale(1);
    &:active {
        transform: scale(1.1);
    }
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2rem;
    @extend .on-click;
}

.card {
    background-color: var(--secondary-color);
    box-shadow: var(--base-shadow);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
}