@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root{
    --primary-color: #C6230B;
    --secondary-color: #FFFFFF;
    --base-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
    color: #333;
}


.button-primary{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.card{
    background-color: var(--secondary-color);
    box-shadow: var(--base-shadow);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
}