footer {
  width: 100%;
  height: var(--footer-height);
  background-color: var(--secondary-color);

  box-shadow: var(--base-shadow);
  border-top: var(--base-border);

  color: var(--primary-color);

  display: flex;
  justify-content: end;
  align-items: center;
  padding: 4vmin;
  gap: 4vmin;
}
