header {
  display: grid;
  grid-template: 1fr / 22vw 1fr;
  height: fit-content;
  background-color: var(--secondary-color);
}

#logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-right: var(--base-border);
}

.menu-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 2.5vh;
}

h1 {
  width: 100%;
  text-align: center;
  margin-right: 4vw;
}

.menu-header h2 {
  height: fit-content;
  margin: 0;
}

#category-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 1vh 6vw 1vh 4vw;
  height: fit-content;
}

main {
  display: grid;
  grid-template: 1fr / 22vw 1fr;
  height: calc(100vh - 18vh - var(--footer-height));
  background-color: var(--secondary-color);
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow-y: auto;
  box-shadow: var(--base-shadow);
  border-right: var(--base-border);
  height: 100%;
}

#categories-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.menu {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--base-shadow);
}

#items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 1rem;
}