<app-popup (close)="closePopup()">
  <div class="wrapper">
    <h2>My Order</h2>
    @if(groupBasketQuantity !== 0){
      <h3>Group Items</h3>
      <div class="items group">
        @for (item of groupBasket.items; track item.basketItemId) {
          <app-basket-item
            [item]="item"
            [group]="true"
          ></app-basket-item>
        }
      </div>
    }
    @if(groupBasketQuantity !== 0 && basketQuantity !== 0){
      <h3>Extras</h3>
    }
    <div class="items extra">
      @for (item of basket.items; track item.basketItemId) {
        <app-basket-item
          [item]="item"
          (edit)="onEditItem($event)"
        ></app-basket-item>
      }
    </div>
    <div class="summary">
      <span>Items : {{ basketQuantity + groupBasketQuantity }}</span>
      <span>Total : {{ basketTotal }}€</span>
    </div>
    <button class="button-primary" (click)="choosePaymentMethod()">
      Proceed to payment
    </button>
  </div>
</app-popup>

@if (editingItem) {
  <app-popup (close)="closeEditPopup()">
    <app-menu-item-detail
      [menuItem]="editingItem"
      [isEditMode]="true"
      (close)="closeEditPopup()"
    ></app-menu-item-detail>
  </app-popup>
}
