.option-selection-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background-color: #f5f5f5;
}

.logo{
    margin-top: 5rem;
    width: 500px;
    height: auto;
}