<div class="allergens-wrapper">
    <h2 class="allergens-title">Sélectionnez les allergènes à éviter</h2>

    <div class="allergens-container">
        <div class="allergen-card">
            @for (allergen of allergens; track allergen) {
            <label>
                <input type="checkbox" [(ngModel)]="allergen.selected" (change)="onCheckboxChange()" />
                <span class="allergen-icon">{{ allergen.image }}</span>
                <span class="allergen-name">{{ allergen.name }}</span>
            </label>
            }
        </div>
    </div>
</div>