.allergens-wrapper {
    text-align: center;
}

.allergens-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 auto 2rem auto;
    color: #333;
}

.allergens-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.allergen-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: 65%;
    padding: 1.5rem 2rem;
}

.allergen-card label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.allergen-card input[type="checkbox"] {
    margin-right: 1rem;
    transform: scale(2);
}

.allergen-icon {
    font-size: 3rem;
    margin-right: 1rem;
}

.allergen-name {
    font-size: 2rem;
    font-weight: 600;
}

.selected-allergens {
    margin-top: 2rem;
    text-align: left;
    display: inline-block;
}

.selected-allergens h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.selected-allergens ul {
    list-style: disc;
    padding-left: 1.5rem;
    font-size: 1.3rem;
}